<h1>{{livro.id == null ? 'Adicionar' : 'Edit'}} Livro {{livro.id}}</h1>
<form>
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome do Livro" [(ngModel)]="livro.nome" name="nome">

    <label for="autor">Autor</label>
    <input type="text" class="form-control" id="autor" placeholder="autor..." [(ngModel)]="livro.autor" name="autor">

    <label for="preco">Preço</label>
    <input type="text" class="form-control" id="preco" placeholder="preco" [ngModel]="livro.preco" name="preco">

    <div class="form-group" *ngIf="livro.id == null">
        <br>
        <input type="file" (change)="onFileChanged($event)">
        <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
    </div>
    <br>
    <button type="button" class="btn btn-success" (click)="salvarLivro()">Salvar</button>
</form>