<h1>Usuários Admin</h1>
<a class="btn btn-primary mb-3" (click)="addUsuario()">Novo Usuário</a>
<div class="container row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nome}}</td>
                    <td><button type="button" class="btn btn-primary" (click)="mostrarUsuario(usuario.id)">Mostrar Detalhes</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <app-add-usuario *ngIf="acao === 'add'" [usuario]="selecionarUsuario" (usuarioAddEvent)="refreshData()"></app-add-usuario>
        <app-mostrar-usuario *ngIf="acao == 'mostrar'" [usuario]="selecionarUsuario" (usuarioDeletarEvent)="refreshData()"></app-mostrar-usuario>
    </div>
</div>