<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="https://www.javainuse.com" class="navbar-brand">JavaInUse</a>
        </div>
        <ul class="navbar-nav">
            <li><a class="nav-link" routerLink="/loja">Loja</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administrador
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/admin/usuarios" class="dropdown-item">Usuários</a>
                    <a routerLink="/admin/livros" class="dropdown-item">Livros</a>
                </div>
            </li>
        </ul>
    </nav>
</header>